* {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.boxModelDiv {
  height: 100px;
  width: 100px;
  background-color: red;
  border: 10px solid blue;
  padding: 30px;
  margin: 30px;
  box-sizing: border-box;
}
