* {
  font-size: 50px;
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bolder;
}

.parent {
  background-color: blue;
  width: 100%;
  height: 100%;
  position: relative;
  height: 200vh;
}

/* .child {
  color: black;
  position: relative;
  top: 10px;
} */

header {
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 1;
}

.parent .child-one {
  width: max-content;
  position: absolute;
  /* width: 100%; */
  top: 0;
  right: 0;
}
